/*================================================================*/
/* styles reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

/*================================================================*/
/* main styles */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 24px auto;
  padding: 0 48px;
}

.gallery-image {
  max-width: 360px;
  height: 100%;
}
